<main role="main">
    <!-- TOP SECTION -->
    <header class="grid">
        <div class="s-12 padding-2x">
        <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">About DelCloud</h1>
        <p class="text-size-20 text-white text-center center"> <br>Deltiin India Tech DelCloud local Services (DLS) is the most effective and handy local cloud platform, offering featured services. If you are a developer new to DLS, this is where you can learn to build applications on DLS. Choose a development environment and toolset that you're comfortable with, think about key principles that apply to whatever service you end up using, and then get to work.!
<br><br> For the Benifits of Students and Faculty for Project , Practical and Research work of IT Department, Governenment College of Engineering, Karad, Deltiin has Developed a Local cloud Platform for their benifits and use</p>
      </div>
    </header>

    
    <!-- SECTION 1 -->
    <section class="grid">        
      <div class="m-12 l-6 padding-2x background-white">
        <h1 class="text-dark text-strong">Some of the Key features of this platform are:- </h1>
        
         <br><br>

<h2 class="text-dark text-strong text-justify">1) Easy to Use</h2><br>
        
        <h2 class="text-dark text-strong">2) No need to worry about cloud charges for IoT Application Deployment </h2><br>
       
        <h2 class="text-dark text-strong">3) Unlimited access to cloud from Remote location </h2><br>
       
        <h2 class="text-dark text-strong">4) User specific data management</h2><br>
        
<h2 class="text-dark text-strong">5) DelCloud IoT platform monitors IoT endpoints and event stream</h2> <br>
<h2 class="text-dark text-strong">6) Analyze data at the edge and in the cloud, and enable application development and deployment.</h2><br>
      </div>
      
      <!-- Image-->
      <img class="l-6 hide-s hide-m" src="img/inm01.jpeg">
    </section>
    </main>
    <footer class="grid">
        <!-- Footer - top -->
        <!-- Image-->
        <div class="s-12 l-3 m-row-3 margin-bottom background-image" style="background-image:url(img/img-04.jpg)"></div>
        
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
           <h2 class="text-strong text-uppercase">Who We Are?</h2>
           <p>We are Deltiin India Tech, an energetic science and technology company. Science & Technology is at the core of everything we do. Science drives us for the discoveries we do and the technologies we create.
</p>
        </div>
        
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
           <h2 class="text-strong text-uppercase">Where We Are?</h2>
           <img class="full-img" src="img/map.jpg" alt=""/>
        </div>
        
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
           <h2 class="text-strong text-uppercase">Contact Us</h2>
           <p><b class="text-primary margin-right-10">P</b> 09423052703</p>
           <p><b class="text-primary margin-right-10">M</b> <a class="text-primary-hover" href="mailto:deltiinindia@gmail.com">deltiinindia@gmail.com</a></p>
           <p><b class="text-primary margin-right-10">M</b> <a class="text-primary-hover" href="mailto:arunpatokar@gmail.com">info@deltiin.in</a></p>
        </div>
        
        <!-- Footer - bottom -->
       
      </footer>                                                                    
      <script type="text/javascript" src="js/responsee.js"></script>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript" src="js/template-scripts.js"></script>
