<!-- MAIN -->
      <main role="main">
        <!-- TOP SECTION -->
        <header class="grid">
        	<div class="s-12 padding-2x">
            <h1 class="text-strong text-white text-center center text-size-60 text-uppercase margin-bottom-20">Contact Us</h1>
          </div>
        </header>
        
        <!-- SECTION 1 -->
        <section class="grid margin-bottom-20">
          <div class="m-12 l-7 center">
            <!-- Contact Information-->
            <div class="s-12 padding-2x background-white text-center">                  
              <h2 class="text-size-20 margin-bottom-10 text-strong text-uppercase text-dark">Company Address</h2>                
              <p>Siddhanath sankul, first floor shop no 2 & 3, near Bharat petrol pump saidapur, </p>
              <p>ogalewadi road, near krishna canal, Karad, Maharashtra 415124</p>             

              <h2 class="text-size-20 margin-top-30 margin-bottom-10 text-strong text-uppercase text-dark">E-mail</h2>                
               <p><a class="text-primary-hover" href="mailto:info@deltiin.in">info@deltiin.in</a></p>  
               <p><a class="text-primary-hover" href="mailto:deltiinindia@gmail.com">deltiinindia@gmail.com</a></p>  

              <h2 class="text-size-20 margin-top-30 margin-bottom-10 text-strong text-uppercase text-dark">Phone Numbers</h2>                
              <p>09423052703</p>
              <p>09403581631</p>               
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3809.3340323210928!2d74.1922725152386!3d17.299425188131345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc1832435d53eef%3A0x3f96dd83c0ee8927!2sDeltiin%20India%20tech%20Pvt%20limited!5e0!3m2!1sen!2sin!4v1584812799121!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>                  

        </section>
      </main>
      
       
      <!-- FOOTER -->
      <footer class="grid">
        <!-- Footer - top -->
        <!-- Image-->
        <div class="s-12 l-3 m-row-3 margin-bottom background-image" style="background-image:url(img/img-04.jpg)"></div>
        
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
           <h2 class="text-strong text-uppercase">Who We Are?</h2>
           <p>We are Deltiin India Tech, an energetic science and technology company. Science & Technology is at the core of everything we do. Science drives us for the discoveries we do and the technologies we create.</p>
        </div>
        
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
           <h2 class="text-strong text-uppercase">Where We Are?</h2>
           <img class="full-img" src="img/map.jpg" alt=""/>
        </div>
        
        <div class="s-12 m-9 l-3 padding-2x margin-bottom background-dark">
           <h2 class="text-strong text-uppercase">Contact Us</h2>
           <p><b class="text-primary margin-right-10">P</b> 09423052703</p>
           <p><b class="text-primary margin-right-10">M</b> <a class="text-primary-hover" href="mailto:deltiinindia@gmail.com">deltiinindia@gmail.com</a></p>
           <p><b class="text-primary margin-right-10">M</b> <a class="text-primary-hover" href="mailto:info@deltiin.in">info@deltiin.in</a></p>
        </div>
        
        <!-- Footer - bottom -->

      </footer>      
      <script type="text/javascript" src="js/responsee.js"></script>
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
      <script type="text/javascript" src="js/template-scripts.js"></script>
      