<section class="grid">        
    <div class="m-12  padding-2x background-white">
      <h1 class="text-dark text-strong">Given Below is the list of API's you might need to implement your project using DelCloud  </h1>
      <h2 class="text-dark text-strong text-justify">Uploading Data</h2>
      <p>
          http://ip_address_of_del_cloud:3000/data?rollno=#[YOUR_ROLL_NO]&api=#[YOUR_API]&data1=#[data1]&data2=#[data2]....
      </p>
       <br><br>
       <h2 class="text-dark text-strong text-justify">Downloading Complete Data</h2>
       <p>
           http://ip_address_of_del_cloud:3000/get?rollno=#[YOUR_ROLL_NO]&api=#[YOUR_API]
       </p>
        <br><br>
        <h2 class="text-dark text-strong text-justify">Get Last Uploaded value Data</h2>
        <p>
            http://ip_address_of_del_cloud:3000/last?rollno=#[YOUR_ROLL_NO]&api=#[YOUR_API]
        </p>
         <br><br>
         <h2 class="text-dark text-strong text-justify">Get last uploaded value of specific field </h2>
         <p>
             http://ip_address_of_del_cloud:3000/data?rollno=#[YOUR_ROLL_NO]&api=#[YOUR_API]&data=#[number of field whose value is required]
         </p>
          <br><br>
          <h2 class="text-dark text-strong text-justify">If you need customized API, or solution feel to contact <a href="/contact">Deltiin India Tech Pvt. Ltd </a> </h2>
          
   
          
  
         
 
        



    </div>
    </section>