<section class="grid">        
    <div class="m-12  padding-2x background-white">
      <h1 class="text-dark text-strong">Go through the documentation, and get started with DLS </h1>
      
       <br><br>

<h2 class="text-dark text-strong text-justify">Onboarding</h2>
<p class='text-strong'>To be eligible for working with DLS, you should qualify with following criteria <br>
1) You should be a student or a faculty member of Government College of Enginerring, Karad <br>
2) You must have an identification number provided by college</p><br>
<p class='text-strong'>To Start working with DLS, register with us by clicking <a href="/users/register">here</a> 
</p><br>
   
      <h2 class="text-dark text-strong">Registration Process </h2>
<p class='text-strong'>Eneter your Full Name<Br>
  <p class='text-strong'>Enter Roll No (for Student)<Br>
    <p class='text-strong'>Enter Faculty ID (for Staff)<Br>
      <p class='text-strong'>Enter Your Email ID<Br>
        <p class='text-strong'>Enter Password( Minimum 6 Digits long)<Br>
          <p class='text-strong'>ReEnter Your Password<Br>
            <p class='text-strong'>Click on Register button to Confirm Account<Br><Br>
              <p class='text-strong'>Go to Login Page for Accessing Account<Br>
                <p class='text-strong'>If you are Already Registered User then Go to Login Link for Accesing Account<Br>
</p><br><h2 class="text-dark text-strong">Playing with Tables and data</h2>


<br>
<p>
  Once you log in, you can check all your tables and its data in "List of Tables", with provisions to delete any specific table. <br> You can also Add new tables from "Add New Tables" section<br>
  Get your APIs fot your table at API Management <br> And last but not the east find the example API syntaxes at "Example APi Codes"<br>
</p>
     <br>
      <h2 class="text-dark text-strong">Enjoy DelCloud for your Developement</h2><br>

     <h2 class="text-dark text-strong">To get familier with various API's usable on DelCloud go to <a href=/users/examples> Examples page</a></h2><br>
    </div>
    </section>