
    <section  class="grid margin-bottom-10" style="display:flexbox; width:100%;">
<h1 class="s-12 text-white text-size-80 text-strong text-white margin-top-20 margin-bottom-20 center text-center">Welcome to DelCloud</h1>
<img class="center" src="/images/delcloud.png">
<div class="s-12 text-white text-size-20 text-strong text-white  center text-center"><p class="text-size-30">Create an account or login</p>
<a class="text-size-30" href="/users/register">Register | </a>

<a class="text-size-30" href="/users/login"> | Login</a>
</div>
</section>
